

.login{    
    width: 100%;
}

.login_content{
    
    width: 100%;
    color:#222;
    height: 100vh;
}

.login_content_title{
    text-transform: uppercase;
    color:inherit;
    font-size: 1.5rem;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 5px;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login_content_text{
    text-align: center;
    color:inherit;
}

.login_content_text a{
    color:#26A5F4;
    font-weight: bold;
}