
<div class="footer">
    <div class="footer__content l-container">
       <img src="/static/img/logo.svg" alt="logo" class="footer__content_logo">

       <ul class="footer__content_list">
            <li class="footer__content_item"><a href="/">inicio</a></li>
            <li class="footer__content_item"><a href="/peliculas">peliculas</a></li>
            <li class="footer__content_item"><a href="/series">series</a></li>
       </ul>

    </div>
</div>
<div class="copy">
    <div class="copy_content l-container">
        <p class="copy_content_text">@The Best <span>Reviews</span>.com/2024</p>
    </div>
   
</div>
<script src="/static/js/button.js"></script>
<script src="/static/js/count_comment.js"></script>
<script src="/static/js/validation_dashboard.js"></script>
</body>
</html>