
    {% include 'header.html' %}
    
    <div class="list_movies l-container">
        <h2 class="list_movies__title">
            Todas las series           
        </h2>

        {% for serie in data.series %} 
            
        <div class="list_movies__card">
            <img src="{{serie[6]}}" alt="mufasa" class="list_movies__card_img">
            <p class="list_movie__card_name"><a href="/pelicula_detalle?id={{serie[0]}}">{{ serie[1] }}</a></p>
            <hr>
            <div class="list_movie__card_reviews">
                <img src="/static/img/estrella amarilla.svg" alt="estrella" class="list_movie__card_reviews_img">
                <p class="list_movie__card_reviews_qualification">{{serie[4] }}/{{serie[3] }}</p>
            </div>
        </div>
        {% endfor %}


         <!-- PAGINACION -->
          <div class="pagination">
                <div class="pagination_content">
                   <ul class="pagination_content_list">
                        <li class="pagination_content_list_item">
                            <a href="#">1</a>
                        </li>
                        <li class="pagination_content_list_item">
                            <a href="#">2</a>
                        </li>
                        <li class="pagination_content_list_item">
                            <a href="#">3</a>
                        </li>
                        <li class="pagination_content_list_item">
                            <a href="#">Ultima pagina</a>
                        </li>
                   </ul>
                </div>
          </div> 
    </div>
    <input id="email" name="email" type="hidden" value="{{data.usuario_logueado.email}}">
    <input id="contrasena" name="contrasena" type="hidden" value="{{data.usuario_logueado.contrasena}}">
    <script src="/static/js/sessiones.js"></script>
    
    {% include 'footer.html' %}